######################### 主文件夹
## 清楚所有文件
**/*
## 保留 .gitignore 文件
!**/.gitignore  
!**/*.sh
!**/*.md

########################## DA-Code文件夹
!**/DA-Code
#
**/DA-Code/*
!**/DA-Code/Readme.md
#
!**/DA-Code/src_NoWW3_ENOI/
!**/DA-Code/src_NoWW3_ENOI/*
#
!**/DA-Code/build/
!**/DA-Code/build/apps/
!**/DA-Code/build/apps/DA_cycle_*
!**/DA-Code/build/apps/Makefile

########################## ndbc文件夹
!**/ndbc
**/ncbc/*
!**/ndbc/source/   
!**/ndbc/source/*
!**/ndbc/Readme.md
!**/ndbc/work_eastUSA/
!**/ndbc/work_eastUSA/work_eastUSA.m
!**/ndbc/work_eastUSA/Readme.md

########################## TUTORIAL_GRIDGEN文件夹
!**/TUTORIAL_GRIDGEN/
**/TUTORIAL_GRIDGEN/*
!**/TUTORIAL_GRIDGEN/area/
!**/TUTORIAL_GRIDGEN/area/*.m
!**/TUTORIAL_GRIDGEN/data/
!**/TUTORIAL_GRIDGEN/data/*
!**/TUTORIAL_GRIDGEN/bin/
!**/TUTORIAL_GRIDGEN/bin/*
!**/TUTORIAL_GRIDGEN/namelist/
!**/TUTORIAL_GRIDGEN/namelist/*


########################## TrendTendency_EVA文件夹
## 保留 TrendTendency_EVA 文件夹
!**/TrendTendency_EVA/
## 清楚文件
**/TrendTendency_EVA/*
## 
!**/TrendTendency_EVA/src/
!**/TrendTendency_EVA/src/*.m
##
!**/TrendTendency_EVA/work_EVA_m/
!**/TrendTendency_EVA/work_EVA_m/*.m


########################## Mitigation_Li_Zhang文件夹
!**/Mitigation_Li_Zhang/
**/Mitigation_Li_Zhang/*